div(ng-repeat='transaction in data.transactions')
  h3 {{ transaction.dateCreated | date : 'd MMM, y h:mm'}}
  p
    b Amount: 
    | ${{ transaction.amount }}
  
  p  
    b Category: 
    | {{ transaction.category }}
  
  p  
    b Description: 
    | {{ transaction.description }}    
  hr