div(ng-repeat='transaction in data.transactions')
  h3 {{ transaction.transactionDate | date : 'd MMM, y'}}
  p
    b Amount: 
    | ${{ transaction.amount }}
  
  p  
    b Category: 
    | {{ transaction.category }}
  
  p  
    b Description: 
    | {{ transaction.description }}    
  hr