extends layout

block content
  ng-view

  script(src='/bower_components/angular/angular.min.js')
  script(src='/bower_components/angular-route/angular-route.min.js')
  script(src='/bower_components/angular-resource/angular-resource.min.js')
  script(src='/javascripts/build/output.min.js')